SECRET_KEY='секретный ключ из config/settings.py'
NAME=mydatabase
USER=mydatabaseuser
PASSWORD=mypassword
HOST=localhost
PORT=5432

# для отправки рассылок
EMAIL_HOST_USER = 'mymail@gmail.com'
EMAIL_HOST_PASSWORD = 'mypassword'