{%extends 'mail/base.html'%}
{% load static %}
{%load my_tags%}
{% block title %}

{% endblock %}
{%block content%}

<div class="container mt-5">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3>Рассылка {{object.name}} запущена</h3>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">ID рассылки: {{ object.id }}</li>
        <li class="list-group-item">Название: {{object.name}}</li>
        <li class="list-group-item">Дата и время начала рассылки: {{object.start_time}}</li>
        <li class="list-group-item">Дата и время окончания отправки: {{object.end_time}}</li>
        <li class="list-group-item">Статус: {{object.status}}</li>
        <li class="list-group-item">Сообщение: {{object.message}}</li>
        <li class="list-group-item">Получатели: {{ client_names }}</li>
    </ul>
</div>
{%endblock%}