{%extends 'mail/base.html'%}
{%block content%}
<div class="container mt-5">
    <h2>Введите новый пароль</h2>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="uidb64" value="{{ uidb64 }}">
        <input type="hidden" name="token" value="{{ token }}">

        <label>Новый пароль:</label>
        <input type="password" name="password_new" required>

        <label>Подтвердите пароль:</label>
        <input type="password" name="password_new_confirm" required>

        <button type="submit">Сменить пароль</button>
    </form>
</div>
{%endblock%}